<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Frontend</title>
</head>
<body>
    <h1>Welcome to the Express Frontend</h1>
    <p><a href="/api/frontend"> Click to fetch data from backend</a></p>
    
</body>
<style>
    body{
        background-color:aquamarine;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:large;
        align-items: center;
    }
    p{
        a{
            font-size:200xp;
        }
    }
</style>
</html>